/*Target Mobile First*/

/*Smartphones, portrait, using max-width;320px converted into EM */
@media only screen
and (max-device-width : 20em){
	#main-canvas{
		width : 12em;
		height : auto;
		border : 1px solid #ff0000;
	}
}

/*Smartphones, landscape, using max-width;320px converted into EM */
@media only screen
and (max-device-width : 40em)
and (min-device-width : 21em){
	#main-canvas{
		width : 30em;
		height : auto;
		border : 1px solid #ff0000;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
